/* #table {
    width: 900px;
} */
section {
    background-color: #EFF4F7;

}

.display-none {
    display: none;
}

#table {
    box-shadow: 0 6px 14px 0 rgba(33, 35, 68, .05);
    margin: 10px;
    background-color: white;
}

#charts {
    box-shadow: 0 6px 14px 0 rgba(33, 35, 68, .05);
    margin: 10px;
    background-color: white;
}
.spinner{
	width:400px;
	margin: auto;
  z-index: 100;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 50vw;
    height: 60vh;		
    font-family: sans-serif;
    margin: 50px auto;
    padding: 20px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}